<form [formGroup]="form">
  <div class="form-group">
    <label for="oldPassword">Old Password</label>
    <input formControlName="oldPassword" name="oldPassword" type="password">
    <app-form-validator [model]="oldPassword"></app-form-validator>
  </div>
  <div class="form-group">
    <label for="newPassword">New Password</label>
    <input formControlName="newPassword" name="newPassword" type="password">
    <app-form-validator [model]="newPassword"></app-form-validator>
  </div>
  <div class="form-group">
    <label for="confirmPassword">Confirm Password</label>
    <input formControlName="confirmPassword" name="confirmPassword" type="password">
    <app-form-validator [model]="confirmPassword"></app-form-validator>
    <div class="alert alert-danger" *ngIf="newPassword.valid && confirmPassword.valid && form.invalid && form.errors.passwordShouldMatch">Password should match.</div>
  </div>
  <button class="btn btn-primary">Change Password</button>
</form>
